@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* Conmmon Classes */

.container{
    max-width: 2000px;
    max-height: fit-content;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
   
}
 
h1{
	text-decoration:underline;
font-weight:bold;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size:20px;
}
a{
    font-family: "Raleway";
    font-weight: 600;
 font-size:15px;
    
}

li{
	 font-size:20px;
}

.center{
	text-align:center;		
    
}


main {
    padding: 20px 0;
}

.about, .team {
    background-image:url("../images/aboutbg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}





footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}

footer p {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }
}

/* @media (max-width: 480px) {
    .team-member img {
        width: 50px;
        height: 50px;
        border-radius:50%;
    }
} */
/* 
team */


    .outer-container {
      display: flex;
      justify-content: center;
      padding: 20px;
      background-image: url("../images/aboutbg.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
    }
    .inner-container {
      max-width: 1200px;
      width: 100%;
     
    }
    .section-head-text {
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #145214;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .section-subhead-text {
      text-align: center;
      font-size: 16px;
      margin-bottom: 40px;
    }
    .responsive-container-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .team-card-container {
      flex: 0 0 calc(33.333% - 20px);
      box-sizing: border-box;
      margin-bottom: 20px;
    }
    .team-card {
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      text-align: center;
    }
    .img-wrapper {
      margin-bottom: 20px;
    }
    .team-img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
    .name {
      font-size: 18px;
      font-weight: bolder;
      margin-bottom: 10px;
      color: rgb(100, 100, 126);

    }
    .position {
      font-size: 14px;
      margin-bottom: 10px;
      color: blue;
    }
    .social-media-links img {
      width: 24px;
      height: 24px;
      margin: 10px 5px ;
      
      
    }

    /* end team */











