
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>About the project</title>
<link rel="stylesheet" href="css/about.css"> 



        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   
    
    
</head>
<body>
    <div th:include="navbar.html"> 
    
    </div>

<br><br><br><br><br><br><br><br><br><br>
    <main>
        <section class="about">
           
            <div class="center">
            <h1 style="color:indigo">About The City</h1>
            </div>
            <br>

         <div class="container">
<p>The city of Prayagraj is among the largest cities of Uttar Pradesh and situated at the confluence of three rivers- Ganga, Yamuna and the invisible Saraswati. The meeting point is known as Triveni and is especially sacred to Hindus. The earlier settlements of the Aryans were established in this city, then known as Prayag.<br>
</p><br>
<p>Prayagraj is one of the historic and mythological cities of India with glorious past and present. It continues to enjoy the distinction of being a place of haunting and lasting memories. It is a city of mixed culture of Hindu, Muslims, Jains and Christians.</p><br>
<p>Its sanctity is manifest by references to it in Purans, the Ramayan and the Mahabharata. According to Hindu Mythology, Lord Brahma, the creator God of the Trinity, chose a land on earth (ie Prayag) to perform âPrakrista Yagâ, at the beginning of the creation and he also refereed to it as Tirth raj or the King of all pilgrimage centres. As per writing of âPadam Puranâ â <span class="text-highlight">âAs the sun is amongst the moon and the moon amongst the stars, likewise Prayag is best amongst all places of pilgrimageâ.</span> The bathing at Prayag is mentioned in Brahma Puran â in the month of Magha at the bank of Ganga Yamuna in Prayag bestows results of millions and millions of Ashvmedha Yajna.</p><br>
<p>Prayag is birth place of Som, Varuna and Prjapati. Prayag has been associated with mythological personalities in Brahmanical(Vedic) and Buddhist Literatures. It was the seat of the great sage Bhardwaj, sage Durvasa and Sage Pannas sage Bhardwaj lived here circa 5000BC and taught more than 10000 disciples. He was the greatest philosopher of ancient world.</p><br>
<p>The present Jhunsi area, very close to sangam was the kingdom of Chandrabanshiya ( lunar clan ) King Pururava. Nearby Kaushambi bloomed to prosperity during Vatsa and Maurya Rule. The earliest monument of antiques Ashok Pillar with inscriptions of third century B.C. clears the inscriptions of his directions to his fellow Rajas and praise of King Samudragupta. The Chinese traveler Huan Tsang in 643 AD found Prayag inhabited by many Hindus who regarded the place very Holy.</p><br>
<ul>
<li>. 1575 AD â Emperor Akbar founded the city in by the name of âILLAHABASâ which later became ALLAHABAD meant âThe City of Allahaâ impressed with the strategic importance of the SANGAM. In medieval India the city enjoyed the honour of being the religio-cultural center of India. For a long time it was Provincial capital of the Mughals. Later it was captured by Marathas.</li><br>
<li>. 1801 AD â British History of the city begun in this year when the Nawab of Oudh ceded it to the British Throne. British army used the fort for their military purposes.</li><br>
<li>. 1857 AD â The town was the centre of war of Independence and later became the crucible of Indian Freedom Movement against British.</li><br>
<li>. 1858 AD â The East India Company officially handed over India to British Government here at Minto Park. After the first war of independence the town was named âALLAHABADâ and was made the capital of United Province of Agra and Oudh.</li><br>
<li>. 868 AD â It became a seat of Justice when Allahbad High Court was established.</li><br>
<li>. 1871 AD â British architect Sir William Emerson erected a majestic monument All Saint Cathedral thirty years before he designed the Victoria Memorial in Kolkata.</li><br>
<li>. 1887 AD â Prayagraj became a seat of knowledge with the establishment of the fourth oldest University â University of Allahabad. Prayagraj has been rich in numerous Victorian and Georgian buildings made in synthesis with Indian architectural traditions.</li><br>
</ul>
<p>This city was the heart of the Indian Freedom Movement against the British rule with Anand Bhawan being the epicentre. It was in Prayagraj (then known as Allahabad) Mahatama Gandhi proposed his program of non-violent resistance to liberate India. Prayagraj has provided the largest number of prime ministers of Post independence India Pt. Jawahar Lal Nehru, Lal Bahadur Shastri, Indira Gandhi, Rajiv Gandhi, V.P.Singh. Former Prime Minister Chandra Shekhar was student of Allahabad university.</p><br>
<p>Prayagraj is basically an Administrative and Educational city. High Court of Uttar Pradesh, Auditor General of Uttar Pradesh, Principal Controller of Defence Accounts ( Pension ) PCDA, Uttar Pradesh Madhymik Shiksha Prishad ( UP BOARD ) office, Police HeadQtrs and in education Moti Lal Nehru Regional Engg. College MNREC, Medical and Agriculture College , Indian Institute of Information Technology ( IIIT ) ITI Naini and IIFCO Phulpur , Triveni Glass are some of major industries here.</p><br>
<p>From the days of civilization Prayagraj has been seat of learning, wisdom and writing. It is the most vibrant politically spiritually conscious and spiritually awakened city of India.</p><br>



<br>
	<div class= "link">
	<a href="index">Back To Home...</a>
	</div><br>
	</div>
<br><br>
</section>

       


     
    
<!--  team -->
  <div class="outer-container">
    <div class="inner-container">
      <p class="section-head-text">
        our excellent team
        <hr>
      </p>
      <p class="section-subhead-text">
        There’s no reason to be just a mere tourist anymore, not when locals can show you an edgier, more beautiful and more authentic version of their city.
      </p>
      <div class="responsive-container-block">
        <div class="responsive-cell-block team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../images/manu.jpg">
            </div>
            <p class="name">
             MANORAMA
            </p>
            <p class="position">
              Adit Trainee
            </p>
            <div class="social-media-links">
              <!-- <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a> -->
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="responsive-cell-block team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../images/piyush.jpg">
            </div>
            <p class="name">
              PIYUSH 
            </p>
            <p class="position">
                     Adit Trainee
            </p>
            <div class="social-media-links">
              <!-- <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a> -->
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="responsive-cell-block team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../images/hanuman.jpg">
            </div>
            <p class="name">
              HANUMAN YADAV
            </p>
            <p class="position">
                   Adit Trainee
            </p>
            <div class="social-media-links">
              <!-- <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a> -->
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- end team -->
  
<!-- Footer Section -->
	<footer>
		<p>&copy; 2024 SMART CITY - CITY GUIDE</p>
	</footer>


	
	
	
	
	
	 <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/extrenaljq.js"></script>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
</body>
</html>