
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Home Page</title>

	<link rel="stylesheet" href="css/admin_home.css"> 
</head>
<body>

	<div th:include="homenav.html"></div>
	
	
	
	 <main>
   <DIV class= "container"></DIV>
	
	 <div class="centered">
	 <h1 class="rainbow-text">Welcome : Admin</h1>
	 </div>
	
<br><br><br><br><br>
  </main>
  <!-- Footer Section -->
	<footer>
		<p>&copy; 2024 SMART CITY - CITY GUIDE</p>
	</footer>
	
	
</body>
</html>